/* 
SOURCES:
https://www.canva.com/learn/website-color-schemes/
    Colors:
        Sky: #CAEBF2
        Carbon: #A9A9A9
        Watermelon: #FF3B3F
        Neutral: #EFEFEF
*/


/** {
    outline: 1px solid red !important;
}*/
/*COMMENT OUT WHEN FINISHED - DO NOT DELETE*/

body {
    background-color: #EFEFEF;
}

.container {
    text-align: center;
    margin: 60px 200px;
}

.navbar {
    font-size: 22px;
}

.navbarItem {
    margin: 20px;
    text-decoration: none;
}

.divider {
    font-size: 25px;
}

hr {
    margin-top: 20px;
}